.service {
  display: flex;
  align-items: center;
  line-height: 34px;
  position: relative;
  .service_img {
    width: 100%;
    height: auto;
    position: relative;
    padding: 60px 0;
    margin: auto;
  }
  h2 {
    font-size: 24px;
  }
  .service_desc {
    width: 800px;
    max-width: 80%;
    padding: 118px 0;
    margin-left: 4.4rem;
    font-size: 14px;
    line-height: 20px;
  }
}
